include README.md
include ukbb_parser/data/field.txt
include ukbb_parser/data/coding6.tsv
include ukbb_parser/data/coding19.tsv
include ukbb_parser/data/icd10_tree.csv
include ukbb_parser/data/mapped_category_tree.json
